*{
    box-sizing: border-box;
}

.Form {
    padding-top: 50px;
    width:90%;
    margin: auto;
}

#getWeatherForm {
    width:65%;
    margin: auto;
}

.form-group {
    display: inline-block;
    width: 87%;
    margin: auto;
}

.city-input {
    width: 100%;
    line-height: 28px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #12395F;
    background-color: #CEE8E0;
    font-size: 14px;
    box-shadow: 0 0 1px #12395F; 
    color: #12395F;
}

.pull {
    width: 11%;
    background-color: #F69D88;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #12395F;
    line-height: 27px;
    font-size: 16px;
    box-shadow: 0 0 1px #12395F; 
    color: #12395F;
}