*{
    box-sizing: border-box;
}

p{
    margin: 2px;
}

h3{
    margin: 2px;
    text-transform: uppercase;
}

.weather-list {
    width: 100%;
    padding: 5% 20% 0 20%;
}

.col-30 {
    width: 31.3%;
} 

.weather-box {
    margin: 10px 2% 0 0;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 0 5px #12395F; 
    color: #12395F;
}

.img-wrap{
    display: inline-block;
    padding: 2px;
}

.text-wrap{
    display: inline-block;
}

.weather-info {
    font-size: 14px;
}

.updated {
    font-size: 12px;
    color: rgb(60, 66, 73);
    font-style: italic;
}